{% extends "base.html.twig" %}

{% block body %}
<body id="login">

	{# TODO

	{include:{$BACKEND_MODULES_PATH}/{$MODULE}/layout/templates/ie6.tpl}

	#}

	{% if debug %}<div id="debugnotify">Debug mode</div>{% endif %}
	<table id="loginHolder">
		<tr>
			<td>
				{% if hasError %}
					<div id="loginError">
						<div class="errorMessage singleMessage">
							<p>{$errInvalidEmailPasswordCombination}</p>
						</div>
					</div>
				{% endif %}

				{% if hasTooManyAttemps %}
					<div id="loginError">
						<div class="errorMessage singleMessage">
							<p>{$errTooManyLoginAttempts}</p>
						</div>
					</div>
				{% endif %}

				<div id="loginBox" {% if hasError %}class="hasError"{% endif %}>
					<div id="loginBoxTop">
						<h2>{{ SITE_TITLE }}</h2>
					</div>

					{% set frmLoginFields = frmLogin.getFields() %}
					{% form frmLogin %}
						<div class="horizontal">
							<div id="loginFields">
								<p>
									<label for="backendEmail">{$lblEmail|ucfirst}</label>
									{% form_field backend_email %}
									{$txtBackendEmailError}
								</p>
								<p>
									<label for="backendPassword">{$lblPassword|ucfirst}</label>
									{% form_field backend_password %}
									{$txtBackendPasswordError}
								</p>
							</div>
							<p class="spacing">
								<input name="login" type="submit" value="{$lblSignIn|ucfirst}" class="inputButton button mainButton" />
							</p>
						</div>
					{% endform %}

					<ul id="loginNav">
						<li><a href="#" id="forgotPasswordLink" class="toggleBalloon" data-message-id="forgotPasswordHolder">{$msgForgotPassword}</a></li>
					</ul>
				</div>

				<div id="forgotPasswordHolder" class="balloon {option:!showForm}balloonNoMessage{/option:!showForm}"{option:!showForm} style="display: none;"{/option:!showForm}>
					<div id="forgotPasswordBox">

						<a class="button linkButton icon iconClose iconOnly toggleBalloon" href="#" data-message-id="forgotPasswordHolder"><span>X</span></a>

						<div class="balloonTop">&nbsp;</div>

						<p>{$msgHelpForgotPassword}</p>
						{% form frmForgotPassword %}
							<div class="oneLiner">
								<p><label for="backendEmailForgot">{$lblEmail|ucfirst}</label></p>
								<p>{% form_field backend_email_forgot %}</p>
								<p>
									<input id="send" type="submit" name="send" value="{$lblSend|ucfirst}" />
								</p>
							</div>

							{option:txtBackendEmailForgotError}
								<div class="errorMessage singleMessage">
									<p>{$txtBackendEmailForgotError}</p>
								</div>
							{/option:txtBackendEmailForgotError}

							{option:isForgotPasswordSuccess}
								<div class="successMessage singleMessage">
									<p>{$msgLoginFormForgotPasswordSuccess}</p>
								</div>
							{/option:isForgotPasswordSuccess}
						{% endform %}
					</div>
				</div>

			</td>
		</tr>
	</table>
	{% block messaging %}
		{{ parent() }}
	{% endblock %}

	{% block ajaxSpinner %}
		{{ parent() }}
	{% endblock %}

</body>
{% endblock %}


